@font-face {
    src:  url('../fonts/Pacifico/Pacifico-Regular.ttf');
    font-family: Pacifico;
}

@font-face {
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-family: 'Roboto';
    font-weight: bold;
}

@font-face {
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-family: 'Roboto';
    font-weight: bold;
}
body {
    font-family:'Roboto', Arial, sans-serif;
    text-align: center;
    margin: 0;
    color: #333;
    background-color: rgb(72, 140, 185);
}
