@font-face {
    src:  url('../fonts/Pacifico/Pacifico-Regular.ttf');
    font-family: Pacifico;
}

@font-face {
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-family: 'Roboto';
    font-weight: bold;
}

@font-face {
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-family: 'Roboto';
    font-weight: bold;
}
body {
    font-family:'Roboto', Arial, sans-serif;
    text-align: center;
    margin: 0;
    color: #333;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

head{
    min-height: 33.3vh;
}

#logo {
    margin: 0;
    font-family: 'pacifico';
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    margin: 4px 0px;
    padding: 10px 0px;
    color: white;
    background-color: rgb(13, 68, 41);
    text-decoration: none;
    width: 30%;
}

main section {
    min-height: 33.3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section:nth-child(odd) {
    background-color: rgb(72, 140, 185);
    color: #FFF;
}

#destinos {
    background-image: url("../img/bali2.jpg");
}

#vantagens {
    background-image: url("../img/viagem2.jpg");
}

main section:nth-of-type(odd){
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 2px #333;
}

footer section:nth-child(1) {
    background-color:  rgb(72, 140, 185);
    height: 180px;
}

footer section:nth-child(2) {
    background-color: rgb(red, green, blue);
}

footer a {
    color: #F5F5F5;
    text-decoration: none;
}


@media screen and (min-width: 640px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
        
    }

}
